<div class="container">
  <div class="blog-header">
    <h2 class="blog-title"><%= @article.title %></h2>
  </div>

<p>
  <%= image_tag @article.image_url(:thumb).to_s %>
</p>



<p class="lead blog-description">
  <%= @article.text %>
</p>

<h2>Comments</h2>
  <%= render @article.comments %>

<h2>Add a comment:</h2>
  <%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

</div>
